{% load static %}
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="{% static 'product.css' %}">
    </head>
    <body>
        <h1>Products</h1>
        <div class="products">
            {% for product in products %}
                <div class="product">
                    <h2>{{ product.name }}</h2>
                    <p id="description">{{ product.description }}</p>
                    <p id="price">Price: {{ product.price }}</p>
                    <img id="image" src="{{ product.image.url }}" alt="product image" width="200" height="200">
                    <a href="{% url 'product_detail' product.id %}">Details</a>
                </div>
            {% endfor %}
        </div>
    </body>
</html>